.my-table{
    position : static;
    width : 100%
}
#enterprise_div{
    background : url('../../assets/customer_page/menu_tab_background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width : 100%;
    height : 70px;
    float : left;
}
.loading{
    float: left;
    margin-top : 200px;
}
.accept_btn{
    border-radius: 10px;
    background-color: rgb(119, 119, 255);
    font-family: bamin;
    color : white;
    border-width: 2px;
    margin-left: 5px;
}
.deny_btn{
    border-radius: 10px;
    background-color: rgb(255, 119, 119);
    font-family: bamin;
    color : white;
    border-width: 2px;
    margin-left: 5px;
}