.my-table{
    position : static;
    width : 100%
}
#enterprise_div{
    background : url('../../assets/customer_page/menu_tab_background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width : 100%;
    height : 70px;
    float : left;
}
.loading{
    float: left;
    margin-top : 200px;
}