.my-table{
    position : static;
    width : 100%
}
.loading{
    float: left;
    margin-top : 200px;
}
#menu_div{
    background : url('../../assets/product_page/menu_tab_background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width : 100%;
    height : 70px;
    float : left;
}
.append_btn{
    background : url('../../assets/product_page/append_btn.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border : none;
    outline : 0;
    cursor : pointer;
    width : 70px;
    height : 30px;
    float : left;
    margin-top : 18px;
    margin-left : 30px;
}
.delete_btn{
    background : url('../../assets/product_page/delete_btn.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border : none;
    outline : 0;
    cursor : pointer;
    width : 70px;
    height : 30px;
    float : left;
    margin-top : 18px;
    margin-left : 30px;
}