#top{
    background : url('../assets/top_bar/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width : 100%;
    height : 90px;
    position: fixed;
    z-index: 1;
}
#main{
    width : 100%;
    height : 100%;
}
#side{
    background : url('../assets/side_bar/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position : fixed;
    margin-top: 90px;
    width : 180px;
    height : 100%;
}
.side_btn{
    width : 100%;
    height : 70px;
    border : none;
    cursor : pointer;
    outline : 0;
}
#btn_customer{
    background : url('../assets/side_bar/btn_customer.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#btn_data{
    background : url('../assets/side_bar/btn_data.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#btn_campain{
    background : url('../assets/side_bar/btn_campain.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#btn_log{
    background : url('../assets/side_bar/btn_log.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#btn_manage{
    background : url('../assets/side_bar/btn_manage.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#btn_product{
    background : url('../assets/side_bar/btn_product.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#component{
    /* display : inline-block; */
    width :70%;
    position: relative;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 0;
}

.text-baemin{
    font-family: bamin;
    src: url('../assets/font/BMHANNAPro.ttf')format('truetype');
}