.addcampain{
    font-family: bamin;
    width: 100%;
    margin-top: 20px;
    overflow-y: auto;
}
.input_date{
    display: inline;
    border-color : gray;
}
.form_input{
    vertical-align: middle;
}